<section id="todos">
  <header>
    <h2><%= @list[:name] %></h2>
    <ul>
      <li>
        <a class="edit" href="/lists/<%= @id %>/edit">Edit List</a>
      </li>
    </ul>
  </header>
</section>

<% content_for :header_links do %>
  <a href="/lists">All Lists</a>
<% end %>

<!-- <form action='/single_list' method='post'> -->
<!--   <dl> -->
<!--     <dt> -->
<!--       <label for='new_todo'>Enter a new todo item:</label> -->
<!--     </dt> -->
<!--     <dd> -->
<!--       <input type='text' name='new_todo' placeholder='Todo text' value=''> -->
<!--     </dd> -->
<!--   </dl> -->
<!--   <fieldset class='actions'> -->
<!--     <input type='submit' value='Add'> -->
<!--   </fieldset> -->
<!-- </form> -->
